.ism-v3-header__topBar {
  background: var(--primary-color);
  height: 35px;

  .nav-link {
    color: #FFF !important;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    align-content: center;
  }
}
.show-topBar {
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.hide-topBar {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}
.date-time {
  color: #FFF;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-transform: capitalize;
  align-content: center;
}
/* 
.ism-header__main_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.ism-header__main_box img {
  width: 40%;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.custom-header {
  background: var(--secondary-color);
}

#navbarNav ul li a {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.32px;
  padding: 8px 24px;

}

.social-part img {
  width: 30px;
  height: 30px;
  margin-right: 3px;
}

.ism-header__main_box1 {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.header-active{
  border-bottom: 2px solid #192F60;
  padding-bottom: 2px;
} */




/*=============== GOOGLE FONTS ===============*/
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"); */

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 1.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: #1c1c1c;
  /* --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%); */
  --white-color: #fff;
  /* --body-color: hsl(220, 100%, 97%); */

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
/* @media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
} */

/*=============== BASE ===============*/
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
} */

/*=============== REUSABLE CSS CLASSES ===============*/
/* .container {
  max-width: 1120px;
  margin-inline: 1.5rem;
} */

/*=============== HEADER ===============*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  z-index: var(--z-fixed);
  
}
.header, ul{
  padding: 0;
}
/*=============== NAV ===============*/
.nav__header {
  height: var(--header-height);
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  /* width: 100%; */
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 2rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
  color: var(--primary-color);
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--secondary-color);
    padding: 0.25rem;
  }
  .social-part{
    display: none;
  }
  .nav__data {
    width: 100%;
    padding-left: 12px;
  }
  .nav__logo img{
    height: 2.5rem;
  }
   .nav__data {
    width: 100%;
    padding-left: 12px;
  }
  .nav__logo img{
    height: 2.5rem;
  }
  .special-feature {
    display: none;
  }
  .logo-container{
    display: none;
  }
  .marquee-heading{
    display: none;
  }
  .nav__logo img {
    height: 3.5rem;
}
.nav__header {
  height: 5rem;
}
.show-menu {
  top: 5rem;
}
}

.nav__link {
  color: #1c1c1c;
  /* background-color: var(--black-color); */
  font-weight: 500;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
  letter-spacing: 0.32px;
  font-size: 1rem;
}

.nav__link:hover {
  background-color: #DDE4F5;
 
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link {
  padding: 0.65rem;
  color: var(--black-color);
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-regular);
  transition: background-color .3s;
  font-size: 1rem;
  border-bottom: 1px solid #DDE4F5;
}

.dropdown__link i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover {
  background-color: #DDE4F5;
 
}

.dropdown__menu {
  /* background: var(--black-color); */
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
  color: var(--white-color);
  /* border-radius: 8px; */
border: 1px solid #192f60;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
/* .dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
} */

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 546px) {
  /* .container {
    margin-inline: 1rem;
  } */

  /* .nav__link {
    padding-inline: 1rem;
  } */
  .nav__data {
    width: 100%;
    padding-left: 12px;
  }
  .nav__logo img{
    height: 2.5rem;
  }
  .special-feature {
    display: none;
  }
  .logo-container{
    display: none;
  }
  .marquee-heading{
    display: none;
  }
  .nav__logo img {
    height: 3.5rem;
}
.nav__header {
  height: 5rem;
}
.show-menu {
  top: 5rem;
}
.dropdown__menu {
  display: none;
  list-style: none;
  padding: 0;
}

.dropdown__menu.show {
  display: block;
}
/*.dropdown__arrow {
  transition: transform 0.3s ease;
}

.dropdown__arrow.rotate {
  transform: rotate(180deg);
}*/
}

/* For large devices */
@media screen and (min-width: 1118px) {
  /* .container {
    margin-inline: auto;
  } */

  .nav__header {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
    padding-left: 12px;

  }
  .nav__toggle {
    display: none;
  }
  .nav__logo {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 0.5rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    font-size: 1rem;
    padding : 0rem 0.75rem;
    /* column-gap: .25rem; */
  }
  .nav__link:hover {
    background-color:#DDE4F5;
  }

  .dropdown__item {
    position: relative;
  }

  .dropdown__menu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
    width: max-content;
  }

  .dropdown__link{
    padding-inline: 1rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
    transition: top .3s;
  }

}


.social-part img {
  width: 2rem;
  height: 2rem;
  margin-right: 3px;
}
.ism-header__main_box img{
  width: 100%;
  height: 4rem;
}