/* Normalize CSS (Reset) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  color: #1C1C1C;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* Color Scheme */
:root {
  --background-color: #ffffff;
  --text-color: #fff;

  --primary-bg-color: #F3F6FD;
  --secondary-bg-color: #1C1C1C;

  --primary-text-color: #fff;
  --secondary-text-color: #192F60;

  --btn-color: rgba(19, 81, 216, 1);
  --btn-text-color: #fff;

  --dark-blue: #192F60;

  --light-blue: #F3F6FD;

}

/* Backgrounds */
.bg-primary-aqua {
  background: var(--primary-bg-color);
}

/* Flexbox Layout */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px 0px 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* margin: -10px; */
}

.col {
  flex: 1;
  padding: 10px;
}

.br-8 {
  border-radius: 8px;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Playfair Display";
  /* margin-bottom: 1rem; */
}

p {
  /* margin-bottom: 16px; */
  letter-spacing: 0.32px;
  font-weight: 500;
}

.main-heading {
  color: var(--dark-blue);
  font-size: 20px;
  margin-bottom: 0px;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  line-height: 22px;
  font-weight: 500;
}

.main-heading img {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-right: 8px;
}

.marquee-icon img {
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  margin-right: 8px;
}

.sub-heading {
  color: var(--dark-blue);
  font-family: "Playfair Display";
  font-size: 34px;
  font-weight: 550;
  border-bottom: 3px solid var(--dark-blue);
  width: fit-content;
  line-height: 46px;
}

.inner-heading {
  color: var(--dark-blue);
  font-family: "Playfair Display";
  font-size: 34px;
  font-weight: 550;
}

.about_section {
  background-image: url(./images/backgrounds/about_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.notification-section {
  background-image: url(./images/backgrounds/notification_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.scheme-section {
  background: #F3F6FD;
}

.timeline-section {
  background-image: url(./images/backgrounds/timeline_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.journey-section {
  background-image: url(./images/backgrounds/welcome_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.social-section {
  background: #F3F6FD;
}

.events-section {
  background-image: url(./images/backgrounds/events_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery-section {
  background-image: url(./images/backgrounds/gallery_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial-section {
  background: #FFF;
}

.usefull_link_section {
  background: #F3F6FD;
}

.theme-Btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.8;
  padding: 15px 30px;
  text-transform: capitalize;
  border-radius: 1px;
  letter-spacing: 0.5px;
  border: 0px !important;
  cursor: pointer;
  border-radius: 50px;
  font-family: 'Poppins';
}

.theme-Btn-dark {
  background: var(--dark-blue);
  color: #ffffff !important;
  display: inline-flex;
  align-items: center;
  /* min-width: 40%; */
}

.theme-Btn-dark:hover {
  background: var(--secondary-bg-color);
  color: #ffffff;
  text-decoration: none;
}

.theme-Btn-light {
  background: var(--background-color);
  color: #0E0E52 !important;
}

.theme-Btn-light:hover {
  text-decoration: none;
}


/* Header CSS */
.ism-v3-header__topBar {
  background: var(--dark-blue);
  height: 35px;

  .nav-link {
    color: #FFF !important;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    align-content: center;
  }
}

.date-time {
  color: #FFF;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  /* 225% */
  text-transform: capitalize;
  align-content: center;
}

.ism-header__main_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.ism-header__main_box img {
  width: 40%;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.custom-header {
  background: var(--light-blue);
}

#navbarNav ul li a {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.32px;
  /* margin: 0 1em; */
  padding: 8px 24px;

}

.social-part img {
  width: 30px;
  height: 30px;
  margin-right: 3px;
}

.ismv3-main-banner {
  background-image: url(./images/hero_banner.webp);
  background-position: center;
  background-size: cover;
  height: 70vh;
}

.ismv3-marquee {
  background: var(--dark-blue);
  height: 46px;
  color: var(--text-color);
  font-family: Poppins;
  align-content: center;
  padding: 7px;
}

.marquee-heading {
  font-family: "Playfair Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  padding-left: 2rem;
}

.milestone-card {
  border-radius: 8px;
  background: #F3F6FD;
  padding: 1.5rem;

  h3 {
    color: #1351D8;
    font-size: 28px;
  }

  h6 {
    color: #1351D8;
    font-size: 16px;
    letter-spacing: 0.32px;
  }

  p {
    color: #1C1C1C;
    font-size: 16px;
    letter-spacing: 0.32px;
  }
}
btn:hover {
  background-color: #3e8e41;
  color: white;
}
.btn-new-theme {
  display: flex;
  padding: 5px 30px 5px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 92px;
  background: #1351D8;
}

.event-cards {
  background: var(--text-color);
  border-radius: 8px;
  padding: 1rem;
  height: 100%;

  img {
    width: 100%;
    height: 300px;
  }
  p{
    margin-bottom: 10px;
  }
  h3{
    margin: 0;
  }
}

.event-content {
  font-family: Poppins;
  font-style: normal;
  line-height: 32px;

  h3 {
    color: #101828;
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins;
    margin-bottom: 1.5rem;
  }

  p {
    color: #1351D8;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
  }
}

.title {
  color: #1C1C1C;
  font-family: "Playfair Display";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 72.8px;
}

#box-1 .item img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#box-2 .item img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#box-3 .item img {
  width: 100%;
  height: 120px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.scheme-thumbnail-container {
  background: var(--background-color);
  border-radius: 8px;
  padding: 10px;
  height: 100%;
  align-content: space-between;

}

.notification-tabs {
  background: var(--light-blue);
  height: 60px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.notification-icon {
  align-content: center;
  padding: 5px 15px;
}

.notification-text {
  font-size: 14px;
}

.notification-date {
  font-size: 14px;
  color: #1351D8;
}

.social-card-content {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 450px;
  overflow: auto;
}

/* Responsive Media Queries */
/* @media (max-width: 768px) {
  .col {
    flex: 100%;
    padding: 10px;
  }
} */





/* ul li a {
  margin-right: 10px;
} */

.social-card-content {
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
}

iframe {
  /* border: 1px solid #1351D8; */
  border-radius: 8px;
  /* min-height: 400px; */
}

.nav-link {
  color: #1C1C1C !important;
}

.nav-buttons {
  background: #fff;
  border-radius: 92px;
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 2px 16.7px 0px #E8EEFD;
  margin: 10px;


}

.nav-pills .nav-link.active {
  border-radius: 92px;
  color: #FFF !important;
  background: #192F60 !important;
  font-size: 16px;
  font-weight: 500;
}

.nav-pills .nav-link {
  padding: 15px 22px;
  /* border: 1px solid #192F60;
  border-radius: 92px !important; */
}

.nav-pills .nav-link:hover {
  border: 1px solid #192F60;
  border-radius: 92px !important;
}


footer ul {
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 12px;
}

footer ul li a {
  align-items: center;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

footer ul li a:hover {
  color: #FAFF00;
  text-decoration: none;
}

footer ul li a img {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}

.ism-footer-logo-link img {
  height: auto;
}

.ism-footer {
  background-image: url(./images/backgrounds/footer_bg.webp);
  background-size: cover;
  color: #ffffff;
  width: 100%;
  height: auto;
  left: 0%;
  bottom: 0%;
  padding: 30px 10px;
}

.ism-footer-inner-box {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.ism-footer-logo {
  display: grid
}

.ism-footer-copyright {
  text-align: center;
  background: var(--secondary-bg-color);
  padding: 10px;
  color: #fff;
}

.ism-footer-useful {
  display: flex;
  justify-content: space-between;
}

.ism-footer-useful-links h5 {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.48px;
}

.ism-footer-box-size h5 {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.48px;
}

.vl {
  border: 2px solid #2F6B99;
}

.ism-footer-box-size {
  width: 30%;
}

.border-bot {
  border-bottom: 3px solid #fff;
  width: fit-content;
}

#box-3 .item img {
  background: #fff;
  padding: 1rem;
}

#box-3 .item:hover {
  border: 1px solid #192f60;
  border-radius: 8px;
}

.notification-tabs:hover {
  border: 1px solid #192f60;
  border-radius: 8px;
}


/* Make header sticky */
.ism-header__main_box1 {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* Hide main bar */
.hide-topBar {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

/* Transition main bar back to original */
.show-topBar {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.social-btn-icon {
  height: 25px;
  margin-right: 10px;
}

.text-blk {
  color: #000;
}

.sub-heading-blk {
  font-family: "Playfair Display";
  font-size: 34px;
  font-weight: 550;
  border-bottom: 3px solid #000;
  width: fit-content;
  line-height: 35px;
}






/* Testimonial Section css */
.testimonial {
  /* background: #EEE; */
}

.testimonial-cell {
  width: 55%;
  height: 350px;
  margin-right: 20px;
  background: #8C8;
  counter-increment: gallery-cell;
  border-radius: 8px;

}

/* cell number */
.testimonial-cell:before {
  display: block;
  text-align: center;
  /* content: counter(gallery-cell); */
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.is-selected {
  /* border: 1px solid; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  /* transform: scale(1.5);
  transition: transform .2s; */
}

.cell1 {
  background: url(./images/testimonials/modi_ji.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.cell2 {
  background: url(./images/testimonials/ashwini_ji.webp);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.cell3 {
  background: url(./images/testimonials/vellayan.webp);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.cell4 {
  background: url(./images/testimonials/pradeep.webp);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.cell5 {
  background: url(./images/testimonials/rusell.webp);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.cell6 {
  background: url(./images/testimonials/sanjay.webp);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.flickity-page-dots {
  display: none
}



.owl-nav .owl-prev {
  height: 40px;
  width: 40px;
  background: #192F60 !important;
  color: #fff !important;
  border-radius: 50% !important;
  /* font-size: 45px !important; */

} 
.owl-nav .owl-next {
  height: 40px;
  width: 40px;
  background: #192F60 !important;
  color: #fff !important;
  border-radius: 50% !important;
  /* font-size: 45px !important; */
} 
.owl-dots{
  display: none;
}

.ism-footer-iframe2{
  background-color: #fff;
    border-radius: 8px;
    align-content: center;
}
.ism-footer-iframe2 img{

}

.page-main-banner{
  background-image: url(../../images/page-title-banner.webp);
  background-position: center;
  background-size: cover;
  height: 18vh;
  align-content: center;
}
.page-main-banner h3 {
  color: #fff;
  text-align: center;
}

.page-item .page-link {
  z-index: 3;
  color: #1c1c1c;
  padding: 0.75rem 1.25rem; 
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #192F60;
  border-color: #192F60;
  padding: 0.75rem 1.25rem;
}


.timeline-new {
ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(80rem, 90%);
  margin-inline: auto;
}

/* line */
ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
ul li .timeline-title,
ul li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
ul li .timeline-title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
  font-size: 1rem;
}
ul li .descr {
  padding-block-end: 0.5rem;
  font-weight: 450;
}

/* shadows */
ul li .timeline-title::before,
ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
ul li .timeline-title::before {
  bottom: calc(100% + 0.125rem);
}

ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}
.posts-icon {
  padding-right: .5rem;
}
.posts-icon img{
 
  height: 25px;
  width: 25px;
}
}
/*  */
@media (min-width: 40rem) {
  .timeline-new {
     ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  ul::before {
    grid-column: 2;
  }
  ul li:nth-child(odd) {
    grid-column: 1;
  }
  ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  ul li:nth-child(2) {
    grid-row: 2/4;
  }

  ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}
}