
.job-post-card{
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem 1.5rem;
}
.job-post-card:hover{
  border: 1px solid #1351D8;
}
.info{
  color: var(--primary-color);
  font-weight: 500;
  margin-bottom: 1rem;
}
.job-post-card__title{
font-size: 1.5rem;
font-weight: 600;
letter-spacing: 0.56px;
}
.job-apply-btn{
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.8;
  padding: 1rem 1.75rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  border: 0px !important;
  cursor: pointer;
  border-radius: 99px;
}
.job-close-btn{
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.8;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
  border-radius: 1px;
  letter-spacing: 0.5px;
  border: 0px !important;
  cursor: pointer;
  border-radius: 99px;
  background-color: #C60609;
}

.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #1c1c1c;
  border-color: none !important;
}
.career-tabs  .nav-item button {
  border-radius: 5px;
}
.career-tabs  .nav-link {
  background: #fff;
}
.posts-icon{
  padding-right: 0.5rem;
}
.posts-icon img{
  height: 2rem;
  width: 2rem;
}
/* .career-tabs  .item {
  margin-bottom: 25px;
  height: -moz-calc(100% - 25px);
  height: -webkit-calc(100% - 25px);
  height: calc(100% - 25px);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.career-tabs  .item img {
  object-fit: cover;
  height: 333px;
} */