.ismv3-intro-banner{
  background-image: url(../../images/banners/events-banner.png);
  background-position: center;
  background-size: cover;
  height: 240px;
}
.main-event-cards{
  background: var(--light-blue);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0.5rem;

  img {
    width: 100%;
    height: 290px;
  }
}