

.card-container .card-js {
  display: none;
}
.card-container .card-js.visible {
  display: block;
}
.card-container .card-js.visible1 {
  display: block;
}
.card-container .card-js.visible2 {
  display: block;
}
.card-container .card-js.visible3 {
  display: block;
}
.main-event-cards{
  background: var(--secondary-color);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 100%;
  img {
    width: 100%;
    height: 250px;
  }
  p{
    margin-bottom: 0.5rem;
  }
}
.col-md-6{
  margin-bottom: 1.5rem;
}

.events-main-banner{
  background-position: center;
  background-size: cover;
  height:95vh;
}
.marquee_inline a {
  color: #fff;
}
.semi-2024{
  background-image: url(../../images/semicon_india_2024_banner_approved_pmo.webp);
}
.ses-2024{
  background-image: url(../../images/SESBanner_2.webp);
}
.semiCon-2024{
  background-image: url(../../images/semi_conferrence_2023.png);
}
.semi-2022{
  background-image: url(../../images/semicon_2022_banner.jpg);
}
.highlights-cards{
  background-color: #fff;
  border-radius: 8px;
  /* padding: 1rem; */
}
.highlights-cards h3{
  font-family: Poppins;
font-size: 23px;
font-style: normal;
font-weight: 600;
letter-spacing: 0.46px;
}
.details-cards {
  background: #FFF;
  padding: 2rem;
  border-radius: 8px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.details-cards_title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
  color: #192F60;
}
.details-cards_content {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.32px;
  
}
.ism-btn.small {
  font-size: .875rem;
  padding: 5px 12px;
}
.ism-btn--theme {
  color: #fff;
  border-radius: 8px;
}
.card-details-body {
  padding: 20px 0 10px 0;
  background-color: #192F60;
  text-align: center;
  color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card-details img{
  width: 100%;
  padding: 1rem;
}
.contact_details_content .card{
  padding: 1rem;
}
.webinar{
  border: 1px solid #192f60;
    background-color: #fff;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    width: 40%;
    align-items: center;
    display: flex;
}
.webinar-icon{
  padding-right: 1rem;
}
.webinar-text__heading{
  font-size: 1rem;
  font-weight: 500;
  color: #192F60;
}
.webinartext__desc{
  font-size: 14px;
}
.ism-btn--white {
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  color: #192F60 !important;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
/* .contact_details_content::before, .contact_details_content::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid #fff;
  transition: all 0.5s;
  -webkit-animation: clippath 3s infinite linear;
  animation: clippath 3s infinite linear;
  border-radius: 10px;
} */
 .MsoTableGrid p{
  margin: 0.35rem;
  font-family: poppins;
  font-size: 15px;
 }
.ism-generic_tabbing.v3 .nav-tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  flex-wrap: nowrap;
}
.ism-generic_tabbing .nav-tabs {
  border-bottom: none;
  border: 1px solid rgba(var(#192F60), 0.7);
  margin-bottom: 1.5rem;
}

.ism-generic_tabbing .nav-tabs .nav-link.active {
  background-color: #192F60;
  color: #fff !important;
  /* border: 1px solid #fff; */
}
.ism-generic_tabbing .nav-tabs .nav-link {
  width: 100%;
  background-color: #fff;
  border-color: rgba(var(#192F60), 0.7);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1rem;
  outline: none !important;
  color: #1c1c1c;
  font-size: 1rem;
  border-top: none;
  border-bottom: none;
  /* border-radius: 5rem;
  border: 1px solid #192f60; */
}
.ism-generic_tabbing.v3 .nav-tabs .nav-item {
  flex: 1;
}
.table p{
  margin-bottom: 0;
}
.table .primary_row td{
  background-color: #192F60;
  color: #fff;
  text-align: center;
  font-weight: 600;
  vertical-align: middle;
}
.table .primary_header th{
  background-color: #fff;
  color: #1c1c1c;
}
.schedule-item-head .agenda-time-card{
  border-left: 1px solid #192f60;
  border-right: 1px solid #192f60;;
  padding: 1rem;
  background: #fff;
  margin-bottom: 1rem;
}
.agenda-time-card, time{
  font-size: 1.25rem;
  font-weight: 500;
  color: #192F60;
  font-family: poppins;
  margin-bottom: 1rem;
}
#myCarousel {
  margin-top: 50px;
}
.semi_portfolios{
  background: #F3F6FD;
}
.semi_portfolios .img-card {
  width: 100%;
  position: relative;
  margin: 10px auto;
  min-height: 370px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
}
.semi_portfolios .img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
  border-radius: 8px;
}
.semi_portfolios .img-card .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.78) 0.13%, transparent 52.51%);
  z-index: 9;
  border-radius: 8px;
  border: 1px solid #192f60;
}
.semi_portfolios .img-card .content {
  color: white;
  font-weight: normal;
  line-height: normal;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 99;
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  max-height: 120px;
  top: auto;
  transition: 0.5s all ease-in-out;
  justify-content: end;
}
.semi_portfolios .content h3{
  font-size: 1.5rem;
  font-family: poppins;
}
.semi_portfolios .content p{
  font-size: 0.75rem;
  font-family: poppins;
}


@media (max-width: 768px) {
  .carousel-inner .carousel-item>div {
      display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next,
  .carousel-item-next:not(.carousel-item-start) {
      transform: translateX(25%) !important;
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-25%) !important;
  }

  .carousel-item-next.carousel-item-start,
  .active.carousel-item-end {
      transform: translateX(0) !important;
  }

  .carousel-inner .carousel-item-prev,
  .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-25%) !important;
  }
}

#to-top {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  /* width: fit-content; */
  cursor: pointer;
  display: block;
  /* padding: 1px 15px 3px 2px;
  border-radius: 50px; */
  z-index: 999;
}
.icon-btn {
  /* padding: 2px 15px 2px 2px; */
  border-radius: 50px;
  background: #fff;
  color: #192f60;
  font-weight: 500;
  font-family: 'Poppins';
  font-size: 1rem;
  border: 1px solid #192f60;
  outline: none;
  letter-spacing: 0.4px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.icon-btn:hover {
  background-color:#192f60;
  border-color:#fff;
  color: #fff;
}
#to-top img {
  width: 2rem;
  height: 2rem;
  margin: 5px;
}



.socials-container{
  display: flex;
  gap: 10px;
}
.socials-container a{
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.socials-container a svg{
  height: 30px;
  fill: #192F60;
}
.socials-container a::before{
  content: attr(data-social);
  position: absolute;
  background-color: #192F60;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-40px) rotate(25deg);
  opacity: 0;
  fill: white;;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
  /* width: max-content; */
}
.socials-container a:hover{
  background-color: #192F60;
  fill: white;
}
.socials-container a:hover svg{
  background-color: #192F60;
  fill: white;
}
.socials-container a::after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #192F60;
  transform: translateY(0) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover::before{
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}
.socials-container a:hover::after{
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}