.ism-elem10_wrap .nav-item button {
  border-radius: 0.5rem;
}

.ism-elem10_wrap .item {
  margin-bottom: 1.5rem;
  height: -moz-calc(100% - 1.5rem);
  height: -webkit-calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ism-elem10_wrap .item img {
  object-fit: cover;
  height: 100%;
  border-radius: 0.5rem;
}

.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #1c1c1c;
  border-color: none !important;
}

.goto-home-btn a {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.56px;
  vertical-align: sub;
}

.goto-home-btn img {
  width: 25px;
  height: 25px;
}
.tabs-aligment {
  text-align: right;
}
.gallery-tabs{
  padding: 1rem;
  border: none;
  display: inline-flex;
  background: #fff;
  border-radius: 0.5rem;
}
@media (max-width: 576px) {
  .tabs-aligment{
    text-align: center;
  }
 }