
.ism-generic_tabbing{
  /* background-color: #F3F6FD; */
  /* padding: 2rem; */
 /*  margin: 2rem 1rem; */
}
.ism-generic_tabbing.v3 .nav-tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  flex-wrap: nowrap;
}
.ism-generic_tabbing .nav-tabs {
  border-bottom: none;
  border: 1px solid rgba(var(#192F60), 0.7);
  margin-bottom: 1.5rem;
}

.ism-generic_tabbing .nav-tabs .nav-link.active {
  background-color: #192F60;
  color: #fff !important;
  border: 1px solid #fff;
}
.ism-generic_tabbing .nav-tabs .nav-link {
  width: 100%;
  background-color: #fff;
  border-color: rgba(var(#192F60), 0.7);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1rem;
  outline: none !important;
  color: #1c1c1c;
  font-size: 1rem;
  border-top: none;
  border-bottom: none;
  border-radius: 5rem;
  border: 1px solid #192f60;
}
.ism-generic_tabbing.v3 .nav-tabs .nav-item {
  flex: 1;
}
.w-100 {
  width: 85% !important;
}
/* .table-container{
  border-radius: 8px;
  background: #F3F6FD !important;
}
.table{
  background-color: #F3F6FD !important;
  --bs-table-bg: #F3F6FD !important;
} */
.ism-elem1_content{
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  height: 100%;
}
.ism-elem1_icon2 {
  background: #fff;
  text-align: center;
  padding-top: 1rem;
  border-radius: 8px;
  height: 100%;
  align-content: end;
}
.ism-elem1_icon2 img{
  height: 450px;
}
.ism-hw-2_title{
  color: #192F60;
font-family: "Playfair Display";
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 44px;
}
.ism-hw-2_subText{
  color: #1C1C1C;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px !important; /* 140% */
letter-spacing: 0.4px;
}
.ism-hw-2_content {
  color: #1C1C1C;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
letter-spacing: 0.32px;
}
.gc-wrapper li {
  list-style: disc;
  margin-left: 20px;
}
strong{
  font-weight: 500;
}
.accordion-button{
  background-color: transparent !important;
  border-radius: 8px;
}
.archieve-icon{
  height:40px; width:40px;margin-right: 10px;
}