
.notification-tabs {
  background-color: #fff;
  border-radius: 0.5rem;
}

.scheme-notification-icon {
  align-content: center;
  padding: 0.5rem 1rem;
}
.scheme-notification-icon img{
  width: 100%;
  height: 2.5rem;
}
.scheme-tabs{
  padding: 1rem;
  border:none;
  display: inline-flex;
  background: #fff;
  border-radius: 0.5rem;
}
.tabs-aligment{
  text-align: right;
}
.btn-alignment{
  text-align: left;
}
.display-scheme-banner {
  background-image: url(../../images/banners/display-fab-scheme.webp);
}

.design-link-scheme-banner {
  background-image: url(../../images/banners/design-link-scheme.webp);
}

.compound-scheme-banner {
  background-image: url(../../images/banners/compound-scheme.webp);
}

.semiconductor-scheme-banner {
  background-image: url(../../images/banners/semiconductor-scheme.webp);
}

.size-big {
  height: 2rem;
}

.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #1c1c1c;
  border-color: none !important;
}

.career-tabs .nav-item button {
  border-radius: 5px;
}

.career-tabs .nav-link {
  background: #fff;
}

.details-cards {
  background: #F3F6FD;
  padding: 2rem;
  border-radius: 8px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.details-cards_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
}

.details-cards_content {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.32px;
}

.scheme-apply-cards {
  border-radius: 0.5rem;
  padding: 1rem;
  height: 100%;
}

.scheme-apply-cards_bg1 {
  background-color: #CF8107;
}

.scheme-apply-cards_bg2 {
  background-color: #2BA1B5;
}

.scheme-apply-cards_bg3 {
  background-color: #059677;
}

.scheme-apply-cards_bg4 {
  background-color: #DA536A;
}

.scheme-apply-cards_title {
  color: var(--light-text);
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.56px;
}

.scheme-apply-cards_content-box {
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  padding: 1rem;
  height: 10rem;
}

.scheme-apply-cards_content-box__sub-heading p {
  font-size: 0.75rem;
  font-weight: 400;
}

.scheme-apply-cards_title img {
  height: 3.5rem;
  margin-bottom: 1rem;
}

.user-btn-pad {
  padding: 0.5rem 1.25rem;
  margin: 0.5rem;
}

.gc-wrapper li {
  list-style: disc;
  margin-left: 0.25rem;
}
@media (max-width: 576px) {
  .tabs-aligment{
    text-align: center;
  }
  .btn-alignment{
    text-align: center;
  }
 }