

.ism-generic_tabbing.v3 .nav-tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  flex-wrap: nowrap;
}
.ism-generic_tabbing .nav-tabs {
  border-bottom: none;
  border: 1px solid rgba(var(#192F60), 0.7);
  margin-bottom: 1.5rem;
}

.ism-generic_tabbing .nav-tabs .nav-link.active {
  background-color: #192F60;
  color: #fff !important;
  border: 1px solid #fff;
}
.ism-generic_tabbing .nav-tabs .nav-link {
  width: 100%;
  background-color: #fff;
  border-color: rgba(var(#192F60), 0.7);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1rem;
  outline: none !important;
  color: #1c1c1c;
  font-size: 1rem;
  border-top: none;
  border-bottom: none;
  border-radius: 5rem;
  border: 1px solid #192f60;
}
.ism-generic_tabbing.v3 .nav-tabs .nav-item {
  flex: 1;
}
.w-100 {
  width: 85% !important;
}

