.useful-section {
  background: #F3F6FD;
}
.ism-logo-box{
  background: #fff;
  border: 1px solid #192F60;
  display: block;
  text-align: center; 
  border-radius: 8px;
  height: 12rem;
  margin-bottom: 1rem;
  img{
    width: -webkit-fill-available;
        height: 100%;
        max-height: 120px;
        margin: 1rem;
  }
  .web-link-box{
    background: #F3F6FD;
    color: #192f60;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
    font-weight: 500;
  }
}